@media (max-width: 1024px) {

    * {
        overflow-x: hidden;
    }
    h1, h2, h3, h4, h5, h6, strong, button, input, select, textarea {
        font-size: 20px;
        font-weight: 300;
    }
    p, li, span, label, input, textarea{
        font-size: 16px;
    }

    header time {
        /*  center content  */
        color: white;
        align-content: justify;
        width: 140px;
        height: 20px;
        margin-left: 0px;
        margin-top: 20px;
        border: solid 1px var(--borderColor);
        padding: 10px;
        overflow-y: hidden;
        font-size: 10px;
        text-align: center;
        box-shadow: 8px 8px 1px 2px rgba(0, 0, 0, 0.363);
        text-shadow: 2px 0px 3px black;
    }
    header time:hover{
        border-width: 3px;
    }
    .time {
        border-radius: 10% 10% 10% 10%;
        margin-left: -10px;

    }
    .date {
        border-radius: 10% 10% 10% 10%;
        width: 170px;
        
    }
    header h1 {
        font-weight: 700px;
        font-size: 20px;
        line-height: 30px;
        color: white;
        padding-top: 70px;
        text-shadow: 2px 0px 2px #000000;
    }
    
    header p {
        padding: 8px;
        height: 100ox;
        width: 280px;
        line-height: 21px;
        color: white;
        display: block;
        border: 2px solid var(--borderColor);
        box-shadow: 8px 8px 1px 2px rgba(0, 0, 0, 0.363);
        text-shadow: 2px 0px 3px black;
        overflow-y: hidden;
        
    }
    .left-column{
        background-image: url('../imagens/programadora300.png');
        background-repeat: no-repeat;
        background-position: 70%;
        padding: 133px;
    }
    .text-content {
        margin-top: 20px;
    }
    .text-content ul {
        text-align: center;
    }

    .group-items {
        flex-wrap: wrap;
    }

    .items {
        flex-wrap: wrap;
    }

    .college-items {
        flex-wrap: wrap;

    }

    .project-tumb {
        background-color: brown;
        width: auto;
        overflow-y: hidden;

    }

    .project-tumb img {
        width: 100%;
    }

    .description-project {
        display: block;
        width: 100vw;
        text-align: center;

    }

    .btn-repository {
        width: 100%;
        margin: 10px 0;
    }

    .btn-demo {
        width: 100%;
        margin: 10px 0;
    }

    .btn-menu {
        visibility: visible;
    }

    form {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    form input {
        width: 100%;
    }

    form textarea {
        width: 100%;
    }

    .container-btn {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    form button {
        margin: 10px 0;
        width: 500px;
        height: 550px;
    }

    .send-error {
        width: 100%;
    }

    .send-sucess {
        width: 100%;
    }

    .float-btn {
        display: none;
    }
}


@media (max-width: 800px) {
    h1, h2, h3, h4, h5, h6, strong, button, input, select, textarea {
        font-size: 18px;
        font-weight: 200;
    }
    p, li, span, label, input, textarea{
        font-size: 14px;
    }
    header {
        display: flex;
        background-image: url('../imagens/backestrelado.jpg');
        background-repeat: no-repeat;
        background-size: 100vw;
        background-position: center;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        margin-top: 2%;
    }
    
    header time {
        /*  center content  */
        color: white;
        width: 50px;
        height: 20px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 20px;
        border: solid 1px var(--borderColor);
        overflow-y: hidden;
        font-size: 9px;
        text-align: center;
        box-shadow: 8px 8px 1px 2px rgba(0, 0, 0, 0.363);
        text-shadow: 2px 0px 3px black;
        padding: 2px;
    }
    header time:hover{
        border-width: 3px;
        
    }
    .time {
        border-radius: 10% 10% 10% 10%;
        margin-left: -10px;
        width: 112px;
    }
    .date {
        border-radius: 10% 10% 10% 10%;
        width: 130px;

 
        
    }
    header h1 {
        font-weight: 100px;
        font-size: 18px;
        line-height: 23px;
        color: white;
        padding-top: 30px;
        text-shadow: 2px 0px 2px #000000;
    }
    
    header p {
        height: 80px;
        width: 225px;
        line-height: 18px;
        color: white;
        display: block;
        border: 2px solid var(--borderColor);
        box-shadow: 8px 8px 1px 2px rgba(0, 0, 0, 0.363);
        text-shadow: 2px 0px 3px black;
        overflow-y: hidden;
        font-size: 13px;
        
        
    }
    .left-column{
        background-image: url('../imagens/programadora170.png');
        background-repeat: no-repeat;
        background-position: 100%;
        padding: 78px;
    }
    .text-content {
        margin-top: 20px;
    }
    .text-content ul {
        text-align: center;
    }
    .sm-nav {
        display: none;
        position: relative;
        justify-content: space-between;
        min-height: 20px;
        padding: 0 20px;
        z-index: 0;
    }
}

    @media (max-width: 590px) {
        h1, h2, h3, h4, h5, h6, strong, button, input, select, textarea {
            font-size: 16px;
            font-weight: 200;
        }
        p, li, span, label, input, textarea{
            font-size: 12px;
        }
        header time {
            /*  center content  */
            color: white;
            align-content: justify;
            width: 60px;
            height: 20px;
            margin-left: 0px;
            margin-bottom: 0px;
            margin-top: 20px;
            border: solid 1px var(--borderColor);
            overflow-y: hidden;
            font-size: 7px;
            text-align: center;
            box-shadow: 8px 8px 1px 2px rgba(0, 0, 0, 0.363);
            text-shadow: 2px 0px 3px black;
        }
        header time:hover{
            border-width: 3px;
        }
        .time {
            border-radius: 10% 10% 10% 10%;
            margin-left: -10px;
            width: 40px;
            padding: 2px;
        }
        .date {
            border-radius: 10% 10% 10% 10%;
            width: 30px;
            padding: 2px;
            
        }
        header h1 {
            font-weight: 250px;
            font-size: 17px;
            line-height: 25px;
            color: white;
            padding-top: 50px;
            text-shadow: 2px 0px 2px #000000;
        }
        
        header p {
            height: 90px;
            width: 230px;
            line-height: 18px;
            color: white;
            display: block;
            border: 2px solid var(--borderColor);
            box-shadow: 8px 8px 1px 2px rgba(0, 0, 0, 0.363);
            text-shadow: 2px 0px 3px black;
            overflow-y: hidden;
            
            
        }
        .left-column{
            background-image: url('../imagens/programadora130.png');
            background-repeat: no-repeat;
            background-position: 100%;
            padding: 60px;
        }
        .text-content {
            margin-top: 10px;
        }
        .text-content ul {
            text-align: center;
        }
        .sm-nav {
            display: none;
            position: relative;
            justify-content: space-between;
            min-height: 50px;
            padding: 0 20px;
            z-index: 0;
        }        
    }
